#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#taskForm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#taskInput {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #727272;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: black;
}

div {
  margin: 10px 0;
}

h2 {
  margin-bottom: 15px;
  text-align: center;
}

#internalDisplay {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

p {
  margin: 0;
  font-size: 16px;
  flex-grow: 1;
}

#deleteBtn {
  background-color: #000000;
}

#deleteBtn:hover {
  background-color: #c82333;
}

#deleteBtn:focus {
  outline: none;
}

